body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1c2130;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.game-container {
    text-align: center;
    width: 80%;
    max-width: 600px;
}

.game-header {
    margin-bottom: 20px;
}

.game-title {
    font-size: 2rem;
    margin-bottom: 10px;
}

.game-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn {
    padding: 10px 20px;
    background-color: #37b0ce;
    border: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1rem;
}

.btn:hover {
    background-color: #01586b;
}

.grid {
    display: grid;
    gap: 5px;
    background-color: #151C2E;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.cell {
    width: 50px;
    height: 50px;
    background-color: #37b0ce;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.cell:hover {
    background-color: #01586b;
}

.cell.mine {
    background-color: red;
    animation: shake 0.3s ease-in-out;
}

.cell.safe {
    background-color: green;
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
    75% {
        transform: translateX(-5px);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.game-footer {
    margin-top: 20px;
    font-size: 0.8rem;
    color: #97A3CB;
}
